/* фон #E5E5E5 */
/* web #4D5AE5 studio #F4F4FD */
/*  основной цвет - #2E2F42 
вторичный цвет - #434455 */
/* кнопки - #FFFFFF #4D5AE5 */
/*  цвет на картинке #F4F4FD */
/* footer #E7E9FC */

/* все теги ul без оформления */
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* подключение цвета для var */
:root {
    --text-color-h: #2e2f42;
    --text-color-p: #434455;
    --color-while: #ffffff;
    --color-blue: #4d5ae5;
    --color-footer: #e7e9fc;
    --color-hero-h: #f4f4fd;
    --color-ocean: #404bbf;
}

body {
    background-color: var(--color-while);
    font-family: Roboto, sans-serif;
    color: var(--text-color-h);
}

/* header
.header-flex{
    display: flex;
    align-items: center;

}
.header-het{
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--color-while);




    box-shadow:
    0px 2px 0px rgba(46, 47, 66, 0.08),
    0px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 0px rgba(46, 47, 66, 0.08);




} */

/* логотип */
/* .logo {
    color: var(--color-blue);
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-transform: uppercase;


}

.stud {
    color: var(--text-color-h);
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-transform: uppercase;
} */

/* nav */

/* .site-nav .hover{
    display: block;
    padding-top: 24px;

    color: var(--text-color-h);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.site-nav {
    display: flex;
    margin-left: 77px;
}



.site-nav .item:not(:last-child) {
    margin-right: 40px;
}



.site-nav .hover:active{
    color: var(--color-blue);
}


.site-nav .hover.current{
    color: var(--color-blue);
}
.site-nav .hover.current::after {
    content: "";
    padding: 0;
    margin: 0;
    margin-top: 24px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--color-blue);
}

.auth-nav .hover{
    display: block;
    color: var(--text-color-p);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;




    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav{
    display: flex;
    margin-left: auto;


}

.auth-nav .item:not(:last-child) {
    margin-right: 40px;
}


.auth-nav .hover:hover,
.auth-nav .hover:focus{
    color: var(--color-blue);
} */

/* Section */
/* .conteiner{
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;

}

.flex-basis{
    flex-basis:1300px;
}
.section-flex{
    display: flex;
}
.section-flex .item-index:not(:last-child){
    margin-right: 24px;
}
.section-flex .item-index:nth-child(4n) {
    margin-right: 0;
}

.icon-div{
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    background-color: var(--color-hero-h);
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* 

.section-img{
    display: flex;
}

.section-img .item{
    display: block;
    width: 360px;
}
.section-img .item:not(:last-child) {
    margin-right: 24px;
}
.section-mar{
    padding-top: 129px;
    padding-bottom: 111px;
} */

/* главная страница */
/* .hero {
    background-color: var(--text-color-h);
    text-align: center;




}


.section.hero-our {
    padding-bottom: 120px;
    background-color: var(--color-hero-h);
}

.hero-h {
    margin: auto;
    padding-top: 192px;
    margin-top: 0;
    margin-bottom: 40px;
    color: var(--color-while);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 56px;
    line-height: 1.1;
    letter-spacing: 0.02em;

}

.icon-hero{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* overlay */
/* .overlay{
    max-width: 1440px;
    height: 603px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(..//images3/hero.jpg);
    background-position: center;
    background-size: cover;




} */

/* спрятать текст */

/* .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
} */

/* .section {
    display: flex;
    flex-wrap: wrap;
    padding-top: 129px;
}

.section-main{
    padding-top: 96px;
    padding-bottom: 120px;
}
.section.new{
    display: flex;
    flex-wrap: wrap;
    padding-top: 0;
}


.item .border-q {
    display: block;
    border: 0.5px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);



    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item .border-q:hover,
.item .border-q:focus {
    border: 0.5px solid #F4F4FD;
    box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section .section-centr .item {
    width: calc((100% - 48px) / 3);
    margin-right: 24px;
}

.section .section-centr .item:nth-child(4n) {
    margin-right: 0;
}
.section .item{
    width: calc((100% - 48px) / 3);
    margin-right: 24px;
    margin-bottom: 48px;
}
.section.new .item:nth-child(3n){
    margin-right: 0;
}






.section,
.section-title-h {
    margin-top: 0;
    margin-bottom: 8px;
    color: var(--text-color-h);
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section,
.section-title-p {
    color: var(--text-color-p);
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 0;
}

.hero-centr {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}
.section-centr{
    display: flex;
    border-radius: 0px 0px 4px 4px;

}
.section-centr .item{

        background-color: var(--color-while);
}
.padding-cards {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
}
.padding-new{
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
} */

/* /////////////////////////////////// */
/* .position{
    position: relative;
    overflow: hidden;
}
.position .position-text{
    position: absolute;
    

    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
    top: 0;
    left: 0;
    height: 100%;


    font-family: "Roboto";
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-hero-h);


    opacity: 0;



    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.position:hover .position-text{
    opacity: 1;
    transform: translateY(0);
    
}

.position-overley{

    position: absolute;
    
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-blue);

    opacity: 0;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.position:hover .position-overley{
    opacity: 1;
    transform: translateY(0);
    
} */

/* 
.off-style-icon{
    padding: 0;
    margin: 0;
    display: inline-flex;
    margin-top: 12px;

        
    
}
.padding-cards .icon-group{
    
    text-align: start;
    list-style: none;

    padding: 0;
    margin: 0;
    margin-right: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    background-color: var(--color-blue);
    cursor: pointer;
    


    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    
}

.icon-seti{

    fill: #FFFFFF;
}
.padding-cards .icon-group:hover,
.padding-cards .icon-group:focus{
    background-color: var(--color-ocean);
}

.padding-cards .icon-group:nth-child(4n) {
    margin-right: 0;
} */

/* sectionCustomers */
/* .padding-section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.customers-h{
    font-family: "Roboto";
    font-weight: 600;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
.customers-logo{
    list-style: none;
    display: inline-flex;
    padding: 0;
    margin: 0;
    padding-top: 72px;

    display: flex;
    justify-content: center;
    align-items: center;

}
.icon-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 88px;
    margin-right: 24px;

    outline: 1px solid #8e8f99;
}
.icon-logo:nth-child(6n) {
    margin-right: 0;
}
.customers-logo .icon-logo:hover,
.customers-logo .icon-logo:focus{
    fill: var(--color-blue);
    outline: 1px solid var(--color-blue);
}



.customers-logo .icon-logo-svg{
    display: flex;
    justify-content: center;
    align-items: center;


    width: 100%;
    height: 100%;
    fill: #8e8f99;



    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-logo .icon-logo-svg:hover,
.customers-logo .icon-logo-svg:focus {
    fill: var(--color-blue);
} */





/* footer */
/* .footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--text-color-h);
    
}
.footer .conteiner .logo{
    margin-bottom: 24px;
    margin-top: 0;
    display: block;
    display: flex;
}
.footer .conteiner .footer-stud{
    margin-top: 0;
    display: block;
    display: flex;
} */

/* color footer */
/* .footer-stud {
    color: #F4F4FD;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}

.footer .text {
    width: 300px;
    color: var(--color-footer);
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 0;
    
}


.footer-text{
    display: flex;

    font-family: "Roboto";
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--color-while);
}

.footerlogo{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 16px;
    
}
.icon-footer-li{
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}
.icon-footer-li:nth-child(4n) {
    margin-right: 0;
}

.icon--footer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;


    fill:#FFFFFF;


    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    
}
.icon--footer:hover,
.icon--footer:focus {
    background-color: #31D0AA;
}
.footer-end{
    width: 208px;
    height: 40px;
    margin-left: 120px;
    display: inline-block;
    align-items: center;
}
.icon-flex{
    display: flex;
} */

/* footer#3 */
/* .footer-mail{
    display: block;
    margin-left: 80px;
}

.footer-text-p{
    display: flex;

    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;



    color: var(--color-while);
}
.footer-input{
    width: 264px;
    height: 40px;
    margin-top: 16px;
    margin-right: 24px;
    padding-left: 16px;
    border-radius: 4px;

    color: var(--color-while);
    background-color: var(--text-color-h);
    border: 1px solid rgba(255, 255, 255, 0.3);
    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}


.footer-button{
    position: absolute;
    display: inline-flex;
    padding: 0;
    margin: 0;
    width: 165px;
    height: 40px;
    margin-top: 16px;
    padding-left: 24px;

    border: none;

    align-items: center;
    
    color: #FFFFFF;
    background-color: var(--color-blue);

    border-radius: 4px;
}
.icon-telegram{
    position: absolute;
    top: 0;
    left: 103px;
    transform: translate(50%, 50%);

    fill: var(--color-while);
} */






/* button */
/* .button {
    display: inline-block;
    border: 1px solid transparent;
    color: var(--text-color-h);
    cursor: pointer;
    border-radius: 4px;
    min-width: 69px;
    
}


.flex-button {

    margin-bottom: 72px;

}
.flex-button .item-button:not(:last-child) {
    margin-right: 24px;

}

.button.secondary-main {
    padding: 16px 32px;
    color: var(--color-while);
    background-color: var(--color-blue);
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.04em;



    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.secondary-main:hover,
.button.secondary-main:focus {
    color: var(--color-while);
    background-color: var(--color-blue);
}
.button.secondary-main:active{
    color: var(--color-while);
    background-color:#404BBF;
}
.button.secondary {
    padding: 8px 16px;
    text-align: center;
    border-color: var(--color-footer);
    color: var(--color-blue);
    background-color: var(--color-footer);
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;



    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.secondary:hover,
.button.secondary:focus {
    color: var(--color-while);
    background-color: var(--color-blue);
} */

/* Модельное окно */
/* .model-windows{
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);;
}
.model-windows.is-hidden{
    opacity: 0;
    pointer-events: none;
}
.model-windows.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 24px;


    
    width: 408px;
    height: 584px;
    background-color: var(--color-while);

    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.div-model-button{
    position: relative;
    display: flex;

    margin-left: 336px;
    padding-bottom: 24px;
}
.model-button{
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;

    background-color: var(--color-footer);
    border: 1px solid rgba(0, 0, 0, 0.1);

    cursor: pointer;


}
.div-model-button:hover .model-button{
    background-color: #404BBF;
}

.modal-x{
    position: absolute;
    display: flex;
    transform: translate(100%, 100%);
    fill: #000;
}
.div-model-button:hover .modal-x{
    fill: var(--color-while);

} */

/* form */
/* .form{

    margin-left: auto;
    margin-right: auto;
    
}
.form-field{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    
}
.form-field label{
    font-family: "Roboto";
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
    color: #8E8F99;
}
.form-field input{
    margin: 0;
    height: 40px;
    padding-left: 40px;
    border-radius: 4px;
} */
/* .form-field textarea::placeholder{
    width: 360px;
    height: 120px;



    font-family: "Roboto";
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.04em;
}
.modal-intup{
    width: 360px;
    height: 120px;
    padding-top: 8px;
    padding-left: 16px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}
.form-field:hover .modal-intup,
.form-field:focus .modal-intup{

    border: 2px solid var(--color-blue);
} */

/* 


.form-text{
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;

    margin-top: 24px;
}
.form-text-check{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    color: #757575;
    padding-top: 16px;
    padding-bottom: 24px;
}
textarea{
    resize: none;
    border-radius: 4px;
} */

/* 
.icon-model{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(19px, 4px);
}
.form-field:hover .icon-model,
.form-field:focus .icon-model{
    fill: var(--color-blue);
} */

/* .checkbox{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.box{
    display: flex;
    align-items: center;
}
.icon-checkbox{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;


    border: 1.25px solid var(--text-color-h);
    border-radius: 2px;
}
.checkbox:checked + .icon-checkbox{
    border-color: var(--color-ocean);
    background-color: var(--color-ocean);
    background-image: url(../images3/click.svg);
    background-size: contain;
    background-origin: border-box;
} */

/* buttom */
/* .button-form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;


}

.button-model {
    border: none;
    cursor: pointer;

    width: 169px;
    height: 56px;
    border-radius: 4px;
    


    background-color: var(--color-blue);
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} */

/* MEdia */

@media screen and (min-width: 428px) {
    .conteiner {
        width: 428px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
    }

    .logo {
        display: block;

        padding-top: 24px;
        padding-bottom: 24px;
        color: var(--color-blue);
        font-family: Raleway, sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.3;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }

    .stud {
        color: var(--text-color-h);
        font-family: Raleway, sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.3;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }



    .icon-burger {}



    .site-nav {
        display: none;
    }

    .auth-nav {
        display: none;
    }

    .hero {
        background-color: var(--text-color-h);
        text-align: center;
        padding-top: 112px;
        padding-bottom: 112px;
    }

    .hero-h {
        width: 350px;
        margin: auto;
        margin-top: 0;
        margin-bottom: 72px;
        color: var(--color-while);
        font-family: Roboto, sans-serif;
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        text-transform: capitalize;
    }

    .icon-hero {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .overlay {
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(to right,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(..//images3/hero-mobileBG.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }


    .frut-section {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .icon-div {
        display: none;
    }

    .section-title-h {
        margin-bottom: 8px;

        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
    }

    .section-title-p {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .item-index:not(:last-child) {
        margin-bottom: 72px;

    }


    .section-mar {
        display: none;
    }


    .hero-our {
        padding-top: 96px;
        padding-bottom: 120px;

        background-color: var(--color-hero-h);
    }

    .hero-centr {
        margin-bottom: 72px;

        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
    }

    .section-title-team {
        margin-bottom: 8px;

        font-weight: 500;
        font-size: 20px;
        line-height: 1.20;
        text-align: center;
        letter-spacing: 0.02em;
    }

    .padding-cards {
        text-align: center;
        padding-top: 32px;
        padding-bottom: 32px;
    }


    .off-style-icon {
        padding: 0;
        margin: 0;
        display: inline-flex;
        margin-top: 8px;
    }

    .section-centr .item {
        background-color: var(--color-while);
    }

    .section-centr .item:not(:last-child) {
        margin-bottom: 72px;
    }


    .padding-cards .icon-group {

        text-align: start;
        list-style: none;

        padding: 0;
        margin: 0;
        margin-right: 24px;
        width: 40px;
        height: 40px;
        border-radius: 50%;

        background-color: var(--color-blue);
        cursor: pointer;



        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);



    }

    .icon-hero {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon-seti {

        fill: #FFFFFF;
    }

    .padding-cards .icon-group:hover,
    .padding-cards .icon-group:focus {
        background-color: var(--color-ocean);
    }

    .padding-cards .icon-group:nth-child(4n) {
        margin-right: 0;
    }





    .padding-section {
        padding-top: 96px;
        padding-bottom: 96px;
    }


    .customers-h {
        margin-bottom: 72px;

        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
    }


    .customers-logo {
        list-style: none;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;

        display: flex;
        justify-content: center;
        align-items: center;


        column-gap: 16px;
        row-gap: 72px;

    }

    .icon-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 168px;
        height: 88px;

        outline: 1px solid #8e8f99;
    }

    .icon-logo:nth-child(6n) {
        margin-right: 0;
    }

    .customers-logo .icon-logo:hover,
    .customers-logo .icon-logo:focus {
        fill: var(--color-blue);
        outline: 1px solid var(--color-blue);
    }



    .customers-logo .icon-logo-svg {
        display: flex;
        justify-content: center;
        align-items: center;


        width: 100%;
        height: 100%;
        fill: #8e8f99;



        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .customers-logo .icon-logo-svg:hover,
    .customers-logo .icon-logo-svg:focus {
        fill: var(--color-blue);
    }








    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
        background-color: var(--text-color-h);

    }

    .logo-footer {
        text-align: center;
        margin-bottom: 72px;
    }

    .footer .conteiner .logo {
        padding: 0;
        margin-bottom: 24px;
        margin-top: 0;
        display: inline-block;

    }

    .footer .conteiner .footer-stud {
        margin-top: 0;
    }


    .footer-stud {
        color: #F4F4FD;
        font-family: Raleway, sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.3;
        letter-spacing: 0.03em;
        text-transform: uppercase;

    }

    .footer .text {
        text-align: left;
        width: 300px;
        color: var(--color-footer);
        font-family: Roboto, sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 0;

    }


    .footer-text {

        font-family: "Roboto";
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;

        color: var(--color-while);
    }

    .footerlogo {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
        margin-top: 16px;

    }

    .icon-footer-li {
        width: 40px;
        height: 40px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-right: 16px;
    }

    .icon-footer-li:nth-child(4n) {
        margin-right: 0;
    }

    .icon--footer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;


        fill: #FFFFFF;


        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    }

    .icon--footer:hover,
    .icon--footer:focus {
        background-color: #31D0AA;
    }

    .footer-end {
        margin-bottom: 72px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .icon-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-mail {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .form {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .footer-text-p {
        display: flex;

        font-family: "Roboto";
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;



        color: var(--color-while);
    }

    .footer-input {
        width: 396px;
        height: 40px;
        margin-top: 16px;
        padding-left: 16px;
        border-radius: 4px;

        color: var(--color-while);
        background-color: var(--text-color-h);
        border: 1px solid rgba(255, 255, 255, 0.3);

        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    }


    .footer-button {
        text-align: center;
        align-items: center;
        justify-content: center;
        display: inline-flex;
        padding: 0;
        margin: 0;
        width: 165px;
        height: 40px;
        margin-top: 16px;


        border: none;

        align-items: center;

        color: #FFFFFF;
        background-color: var(--color-blue);

        border-radius: 4px;
    }

    .icon-telegram {
        margin-left: 16px;
        fill: var(--color-while);
    }














    /* menu-toggle */
    /* .menu-toggle {
        position: absolute;
        top: 24px;
        left: 380px;
        display: inline-flex;
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;

    } */
    .menu-toggle {
        min-height: 40px;
        min-width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 0;
        padding: 0;
        background-color: transparent;
        cursor: pointer;
        border: none;
        border-radius: 50%;
        outline: none;
    }







    .button {
        display: inline-block;
        border: 1px solid transparent;
        color: var(--text-color-h);
        cursor: pointer;
        border-radius: 4px;
        min-width: 69px;
    }

    .flex-button {
        margin-bottom: 72px;
    }

    .flex-button .item-button:not(:last-child) {
        margin-right: 24px;
    }

    .button.secondary-main {
        padding: 16px 32px;
        color: var(--color-while);
        background-color: var(--color-blue);
        font-family: Roboto, sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.04em;

        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .button.secondary-main:hover,
    .button.secondary-main:focus {
        color: var(--color-while);
        background-color: var(--color-ocean);
    }

    .button.secondary-main:active {
        color: var(--color-while);
        background-color: #404bbf;
    }

    .button.secondary {
        padding: 8px 16px;
        text-align: center;
        border-color: var(--color-footer);
        color: var(--color-blue);
        background-color: var(--color-footer);
        font-family: Roboto, sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;

        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .button.secondary:hover,
    .button.secondary:focus {
        color: var(--color-while);
        background-color: var(--color-blue);
    }
}

@media screen and (min-width: 768px) {
    .section-mar {
        display: none;
    }
}